<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Napa AI</title>
    <link rel="stylesheet" href="style.css">
</head>
<style>
    .text-white{
        color:white
    }
</style>
<body style="background-color:black">

    <nav class="navbar" style="background-color:#00a65a">
        <a class="navbar-brand">Wine Recommender</a>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/templates/recommender">recommender</a></li>
            <li><a>Contact</a></li>
        </ul>
    </nav>


</body>
</html>